
.sidebar {
    min-height: 100vh;
    position: fixed;
    z-index: 100;
    opacity: 98%;

}

@media (min-width: 768px) {
    .sidebar {
        position: static;
        z-index: 0;
        opacity: 100%;
    }
}

.navbar-brand {
    width: 200px;
}


.resident-count {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}