
<nav class="navbar navbar-dark bg-dark px-3">
    <div class="d-flex align-items-center">
        <!-- Toggle button (mobile only) -->
        <button
                class="btn btn-outline-light me-2 d-md-none"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#sidebarMenu"
        >
            ☰
        </button>

        <span class="navbar-brand mb-0">
      <span class="text-primary fs-3 fw-bold fst-italic">C</span>are
                <span class="text-success fs-3 fw-bold fst-italic">N</span>est
    </span>
    </div>

    <button class="btn btn-outline-light btn-md">
        Logout
    </button>
</nav>