
<aside id="sidebarMenu"
       class="col-md-3 col-lg-2 collapse d-md-flex flex-column align-items-center mb-3 mb-md-2 me-md-auto bg-dark text-white text-decoration-none sidebar">
    <ul class="nav nav-pills flex-column mb-auto p-2">
        <li class="nav-item">
            <a href="../dashboard/dashboard.html" class="nav-link text-light">
                Dashboard
            </a>
            <hr>
        </li>
        <li class="nav-item">
            <a href="../residents/residents-list.html" class="nav-link text-light">
                Residents
            </a>
            <hr>
        </li>
        <li class="nav-item">
            <a href="../exports/export.html" class="nav-link text-light">
                Export
            </a>
            <hr>
        </li>
    </ul>
</aside>